# Ignore the data folder and all its contents


# Optional: Ignore all .DS_Store files (for macOS users)
.DS_Store
*.csv
*.xlsx
*.xls
*.json
# Optional: Ignore Python bytecode files
*.pyc
__pycache__/

# Optional: Ignore virtual environment folders
venv/
env/
*.env

